<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="IPMQTT" value="192.168.102.14" />
    <add key="URLAPI" value="http://192.168.102.14:3000"/>
  </appSettings>
</configuration>